{% extends 'base.html' %}
{% load static %}

{% block title_block %}
	Add a Review
{% endblock %}

{% block section_block %}
<div class="fullscreen">
	<!-- <h1>add a review</h1>

	<form id="review_form" method="post" action="{% url 'MyTvList:showPageAddReview' name=title %}"
		enctype="multipart/form-data">

		{% csrf_token %}

		{{ form }}

		Provide a button to click to submit the form.
		<input type="submit" name="submit" value="add review" />

	</form> -->

	<div class="maintenence">
		<h1>This page is under maintenence at the moment</h1>
		<div class="button" style="display: flex; justify-content: center; align-content:center;">
			<a href="{% url 'MyTvList:showPage' name=title %}">Return</a>
		</div>
	</div>


</div>
{% endblock %}
