{% extends 'base.html' %}
{% load static %}

{% block title_block %}
	Search Result
{% endblock %}

{% block section_block %}
<div class="fullscreen">
	<div class="main_topshows">
		{% for show in results %}
			{% if show.poster_path %}
				<div class="show_container col-xs-2 col-sm-5 col-md-4 col-lg-5">
					<div class="show_card" style="background-image: url({{ MEDIA_URL }}{{ show.imgFile }});">
						<div class="show_card_content">
							<h3 class="show_card_title">
								<span>{{ show.title }}</span>
							</h3>
							<ul class="show_card_body">
								{% for genre in show.genres %}
									<li>{{ genre }}</li>
								{% endfor %}
							</ul>
							<a href="{% url 'MyTvList:showPage' name=show.title %}" class="button">
								LEARN MORE
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}