{% extends 'base.html' %}
{% load static %}

{% block title_block %}
	watchList
{% endblock %}

{% block section_block %}
{% if shows %}
	<table>
		<tr>
		{% for show in shows %}
			<th>
				<div name="{{ show.name }}" class="clickable">
					<!-- this section displays an entry for the show -->
					<img src="{{ MEDIA_URL }}{{ show.imgFile }}" alt="thumbnail", width = 150px, height = 250px>
					<h3>
						{{ show.name }}
					</h3>
					<div Class="Rating">
						{{ credit.rating }}
					</div>
					<p>
						{{ show.review }}
					</p>
				</div>
			</th>
		{% endfor %}
		</tr>
	</table>
</article>
</section>
{% endif %}
{% endblock %}