#register_wrap {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    border-radius: 15px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    background-color: #282828;
}

#login_container {
    display: block;
}

.container {
    top: 100px;
    margin: 0 auto;
    position: relative;
}

.container.column {
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    background-color: #282828;
}

.field #input_padding {
    padding-bottom: 10px;
}
.field .input {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: #ffffff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
}

.help.is-danger {
    color: #ff3860;
}

.label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

#favourite_show {
    color: #ffffff;
    padding-left: 10px;
}

.main_topshows {
    margin: 30px auto 30px auto;
    display: block;
    width: 60%;
    padding: 0 1.5rem;
    min-height: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1199){
    .main_topshows {
        padding: 0;
    }
}

.show_container {
    display: flex;
    position: relative;
    height: 300px;
    margin: 0 10px 20px 10px;
}

.show_container > * {
    font-size: 14px;
}

.col-xs-2 {
    width: 50%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5 {
        width: calc(25% - 20px);
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: calc(25% - 20px);
        float: left;
    }
}

@media (min-width: 1200px){
    .col-lg-4 {
        width: calc(25% - 20px);
        float: left;
    }
}

span.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.background_color.red, .k-button.background_color.red, .k-button.background_color.red:hover {
    background-color: rgba(212,2,66, 1);
}

span.round.initials {
    border-radius: 50%;
}

section.review span.initials {
    width: 64px;
    height: 64px;
    font-size: 28px;
    color: #fff;
}

.poster_container {
    display: block;
    border: 2px solid #ffffff;
    border-radius: .3rem;
    position: relative;
}

.poster_container img {
    width: 100%;
}


div.media {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
}

div.column_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

div.column_wrapper div.content_wrapper {
    max-width: calc(1400px - 40px - 268px);
    width: 100%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    padding: 30px 20px 30px 20px; 
}

div.white_column {
    width: calc(100vw - 40px - 268px);
    max-width: calc(870px - 40px - 268px);
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding-right: 20px;
}

#reviews_white_column {
    max-width: calc(870px - 40px - 200px);
    width: calc(870px - 40px - 200px);
}

section.panel {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
}

section.panel:first-of-type {
    border-top: none;
    padding-top: 0;
}

section.panel:last-of-type {
    padding-bottom: 0;
}

section.panel h3 {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
}

div.scroller_wrap {
    position: relative;
    top: 0;
    left: 0;
}

div.scroller_wrap.should_fade.is_fading:after{
    transition: linear 0.3s;
    opacity: 1;
}

div.scroller_wrap.should_fade:after{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #121212 100%);
    will-change: opacity;
    pointer-events: none;
}

ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}
ol.people.scroller {
    overflow-y: hidden;
    overflow-x: scroll;
    margin-left: -10px;
    margin-top: -10px;
    padding-bottom: 10px;
}

ol.people.scroller::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
ol.people.scroller::-webkit-scrollbar-thumb {
    background-color: rgba(219, 219, 219, 1);
    border-radius: 20px;
}
ol.people.scroller::-webkit-scrollbar-track {
    background: transparent;
}

ol.people li {
    min-width: 140px;
    width: 140px;
    background-color: #ffffff;
    display: list-item;
    text-align: -webkit-match-parent;
}

.card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: #ffffff;
}

ol.people li.card {
    margin: 10px 4px 10px 4px;
    border: 1px solid rgba(227,227,227, 1);
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

ol.people li.card:first-of-type {
    margin-left: 10px; 
}

ol.people li>a {
    text-decoration: none;
    font-weight: normal;
    color: #121212;
    min-width: 138px;
    width: 138px;
    height: 175px;
    display: block;
}

ol.people li img {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
}

ol.people li p {
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.panel ol.people li p {
    padding: 0 10px;
}

section.panel ol.people li a+p {
    padding-top: 10px;
}

ol.people li p a {
    font-weight: bold;
    color: #121212;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

ol.people li p a:hover {
    color: #39ace7;
}

ol.people li p.character {
    font-size: 0.7em;
    color: #242424;
}

ol.people li.filler {
    margin-left: 10px;
    background-color: transparent;
}

ol.people li.filler a {
    color: #ffffff;
}
ol.people li.view_more {
    display: flex;
    align-content: center;
    align-items: center;
}

div.column_wrapper div.content_wrapper p:last-child {
    margin-bottom: 0;
}

section.panel p:last-of-type {
    margin-bottom: 0;
}

ol.people li p.episode_count {
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
}

p.new_button {
    margin: 20px 0 0 0;
    display: inline-block;
}

div.grey_column {
    min-width: 260px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

#reviews_grey_column {
    min-width: 200px;
    width: 200px;
}

section.split_column {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

section.split_column > div {
    width: 100%;
}

div.grey_column div.column {
    width: 100%;
}

.no_bottom_pad {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

section.split_column section {
    margin-bottom: 30px;
    width: 100%;
}

section.split_column section.keywords {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
}

section.keywords ul {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
}
section.genres ul li, section.keywords ul li {
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 0.9em;
    box-sizing: border-box;
    white-space: nowrap;
    display: list-item;
}

section.split_column section.genres ul li a, section.split_column section.keywords ul li a {
    background-color: rgba(255,255,255, 0.2);
    border: 1px solid #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: linear .2s;
}

section.split_column section.genres ul li a:hover, section.split_column section.keywords ul li a:hover {
    color: #39ace7;
}
section.genres ul li a.rounded, section.keywords ul li a.rounded {
    padding: 4px 9px;
    font-size: 0.9em;
}

.rounded {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear .3s;
}

section.facts div.social_links {
    display: flex;
}

section.facts div.social_links div{
    height: 30px;
    margin-bottom: 30px;
}
section.facts div.social_links div+div{
    margin-left: 10px;
}
section.facts div.social_links div+div.homepage{
    border-left: 1px solid #d7d7d7;
    padding-left: 8px;
}
section.split_column h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
}
section.facts p {
    box-sizing: border-box;
}

div.column p {
    margin: 0 0 20px 0;
    font-size: 1em;
    display: block;
}
section.facts ul.networks {
    margin-bottom: 20px;
    list-style-type: none;
}
div.column_wrapper div.content_wrapper p:last-child {
    margin-bottom: 0;
}
#tagline {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
    color: #bbbbbb;
    text-align: center;
}

section.panel {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #ffffff;
}

section.panel div.group_dropdown {
    display: flex;
    align-items: flex-start;
}

div.season.card {
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

div.season.card div.flex {
    display: flex;
}

div.season.card a.poster {
    display: block;
    min-width: 130px;
    width: 130px;
    height: 195px;
}

div.season.card div.flex img {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
}

div.season.card div.content {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.season.card h2 {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600;
    display: block;
}

div.season.card h2 a {
    color: #121212;
    text-decoration: none;
    transition: linear 0.3s;
}

div.season.card h2 a:hover{
    color: #39ace7;
}
div.content_wrapper h4 {
    margin: 0 0 8px 0;
    display: block;
    color: #121212;
}

div.season.card div.season_overview {
    padding-top: 15px;
    display: flex;
}
div.season.card div.season_overview p {
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
}

section.media_panel div.menu {
    display: flex;
    width: 100%;
    align-items: baseline;
}

section.media_panel div.menu h3 {
    display: inline-block;
    margin-right: 50px;
}

section.inner_content h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 6px;
}

section.media_panel div.menu ul {
    width: 100%;
}

section.media_panel div.menu ul li {
    display: inline-block;
    margin-right: 24px;
    padding-bottom: 5px;
    font-size: 1.1em;
}

section.media_panel div.menu ul li.active {
    border-bottom-color: #ffffff;
    border-bottom: 4px solid #ffffff;
}

section.inner_content a, section.media_panel div.menu ul li.active a {
    color: #ffffff;
}

section.media_panel div.menu ul li a {
    color: #ffffff;
    font-weight: 600;
}

section.media_panel div.menu ul li a span, section.inner_content h3 span {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    opacity: 0.6;
}

section.media_panel div.menu ul li a span {
    font-weight: 600;
}

section.media_panel div.menu ul li:last-child {
    margin-right: 0;
}

section.media_panel div.content {
    display: flex;
    width: 100%;
    border-radius: 8px;
}

section.media_panel div.content div.original_content {
    width: 100%;
}

section.review div.review_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

section.review div.review_container div.content {
    width: 100%;
}

section.review div.review_container div.content div.inner_content {
    width: 100%;
}

section.review div.review_container div.card {
    width: 100%;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

section.review div.review_container div.grouped {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

section.review div.review_container div.avatar {
    width: 64px;
    margin-right: 20px;
}

section.review div.review_container div.info {
    width: 100%;
}

section.review div.review_container div.avatar a {
    display: block;
}

img.avatar {
    box-sizing: border-box;
    border-radius: 50%;
    border: 0;
}

section.review img.avatar {
    width: 64px;
    height: 64px;
    display: block;
}

section.review div.review_container div.inner_content div.rating_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}

section.review div.review_container div.inner_content h3 {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3em;
    font-weight: 700;
}

section.review div.review_container div.inner_content h3 a {
    font-weight: 700;
    color: #121212;
}

section.review div.review_container div.inner_content div.rating {
    padding: 1px 8px;
    margin-left: 14px;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000;
    border-color: #000;
    border-radius: 8px;
    color: #fff;
}

section.review div.review_container div.inner_content div.rating span {
    margin-right: 2px;
}

.glyphicons_v2.star {
    background-image: url(/assets/2/v4/glyphicons/basic/glyphicons-basic-49-star-67a24f6�.svg);
}

.svg.invert {
    filter: invert(1);
}

.glyphicons_v2 {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;
    line-height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    color: inherit;
    box-sizing: border-box;
}

section.review div.review_container div.inner_content h5 {
    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 0;
    color: #121212;
}

section.review div.review_container div.content div.card h5 a {
    color: #121212;
}

section.review div.review_container div.inner_content div.teaser {
    padding-left: 84px;
    padding-top: 20px;
    box-sizing: border-box;
}

section.review div.review_container div.inner_content div.no_review {
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

section.review div.review_container div.teaser:before {
    clear: both;
    content: '';
    display: block;
}

section.review div.review_container div.content div.teaser p {
    color: #121212;
}

section.review div.review_container div.content div.no_review p {
    bottom: 0;
    position: absolute;
    font-size: 19px;
}

section.review div.review_container div.content div.teaser p:last-child {
    margin-bottom: 0;
}

section.media_panel p {
    font-size: 1em;
}

section.inner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div.header {
    width: 100%;
}

div.single_column_wrapper {
    box-sizing: border-box;
    width: 100%;
    //border-bottom: 1px solid rgba(227,227,227, 1);
    display: flex;
    justify-content: center;
}

div.single_column {
    max-width: 870px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 0;
    box-sizing: border-box;
}

section div.header.first div.single_column {
    padding-top: 30px;
    padding-bottom: 30px;
}

section div.header.small div.single_column {
    padding-top: 15px;
    padding-bottom: 15px;
}

section.inner_content section.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding-left: 40px;
}

section.inner_content section.header.small {
    width: 100%;
    height: auto;
    min-height: 0;
    padding-left: 0;
}

section.header.small span.flex {
    display: flex;
}

section.header.small span.flex>a {
    min-width: 58px;
    width: 58px;
    height: 87px;
    box-sizing: border-box;
}

section.header.small span.flex>a img {
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

section.header.small span.flex>span {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    box-sizing: border-box;
}

section.inner_content div.title {
    width: 100%;
}

section.inner_content section.header div.title {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

section.inner_content section.header.small div.title {
    margin-bottom: 0;
    display: flex;
    align-items: flex-center;
    align-content: center;
}

section.inner_content div.title h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}

section.inner_content section.header.small div.title h2 {
    width: auto;
}

section.inner_content div.title h2 a {
    font-weight: 700;
    color: #ffffff;
}

section.inner_content div.title h2 span.release_date {
    opacity: 0.8;
    font-weight: 400;
}

section.inner_content section.header h3 {
    width: 100%;
    margin: 0 0 8px 0;
}

section.inner_content section.header.small h3 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    opacity: 0.6;
}

section.inner_content h3 a {
    font-weight: 600;
}

div.media {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

div.media.movie_v4, div.media.tv_v4, div.media.person_v4, div.media.collection_v4 {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

div.column_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

div.column_wrapper div.content_wrapper {
    max-width: 870px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.reverse div.grey_column {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-end;
}

.no_pad {
    padding: 0;
}

section.review div.review_container div.content:nth-child(n+2) {
    margin-top: 30px;
}

p.new_button.rounded {
    background-color: rgba(1,180,228, 1);
    border-color: rgba(1,180,228, 1);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 6px 20px;
    font-size: 0.9em;
}

p.new_button.rounded, section.content_score div.content_score div, div.leaderboard div.histogram div.bar span {
    border-color: #ffffff;
    background-color: #ffffff;
    transition: linear .3s;
}

p.new_button.rounded:hover, section.content_score div.content_score div:hover, div.leaderboard div.histogram div.bar span:hover {
    background-color: #39ace7;
    border-color: #39ace7;
}

p.new_button a {
    font-weight: 600;
    font-size: 1.1em;
}

p.new_button.rounded a {
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

p.new_button.rounded a, section.content_score div.content_score div p {
    color: #000000;
}

p.new_button.rounded a span {
    margin-right: 6px;
}

.glyphicons_v2.pencil {
    background-image: url(/assets/2/v4/glyphicons/basic/glyphicons-basic-31-pencil-d8846f0�.svg);
}

div.reverse div.white_column {
    padding-right: 0;
    padding-left: 30px;
}

a.underline {
    text-decoration: underline;
}

section.inner_content div.title h2 a:hover {
    color: #39ace7;
    transition: linear 0.3s;
}

.show_card {
    background-size: cover;
    width: 100%;
    padding: 5.6rem 0 0;
    border-radius: .5rem;
    overflow: hidden;

    transition: transform .5s ease;
}

.show_card:hover,
.show_card:focus-within {
    transform: scale(1.025);
}

.show_card_content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.6) 10%,
        hsl(0 0% 0% / 1)
    );
}

.show_card:focus-within .show_card_content > * {
    transition-delay: 0ms;
}

.show_card_title {
    position: relative;
    width: max-content;
    max-width: 100%;
    height: 2em;
    text-overflow: ellipsis;
}

.show_card_title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding)*-1);
    bottom: -5px;
    background:rgba(1,180,228, 1);
    transform-origin: left;
    transition: transform 500ms ease;
}

.show_card:hover .show_card_title::after,
.show_card:focus-within .show_card_title::after {
    transform: scaleX(1);
}

.show_card_body {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    height: 5rem;
}

.show_card_body li:nth-child(1) {
    margin-bottom: 1em;
}

@media (hover) {
    .show_card_content {
        transform: translateY(70%);
        transition: transform 500ms ease;
    }

    .show_card:hover .show_card_content,
    .show_card:focus-within .show_card_content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .show_card:focus-within .show_card_content {
        transition-duration: 0ms;
    }

     
    .show_card_content > *{
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .show_card:hover .show_card_content > *,
    .show_card:focus-within .show_card_content > * {
        opacity: 1;
    }

    .show_card_title::after {
        transform: scaleX(0);
    }
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #39ace7;
    padding: 0.25em 0.75em;
    border-radius: .25em;
    transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus{
    background-color: rgba(0, 0, 0, 0);
}

.input.sidenav_menu_search {
	max-width: 90%;
	width: 90%;
}